.flex
  = render partial: "shared/side_bar_header"
  .header__right
    .header__right__info
      .header__right__info__group-name
        = @group.name
      .header__right__info__group-members
        Member：
        - @group.users.each do |u|
          = u.name
    .header__right__btn-edit
      = link_to edit_group_path(@group) do
        Edit
.flex
  = render partial: "shared/side_bar_content"

  .contents-right
    = render @messages

    .contents-right__bottom
      = form_for([@group, @message], html: {class: "contents-right__bottom__form"}) do |f|
        .contents-right__bottom__form__input-box
          = f.text_field :content, placeholder: "type a message", class: "contents-right__bottom__form__input-box__text"
          %label{class: "contents-right__bottom__form__input-box__picture-icon", for: "message-image"}
            = fa_icon 'image'
            = f.file_field :image, id: "message-image", class: "contents-right__bottom__form__input-box__picture-icon__file"
        = f.submit "send", class: "contents-right__bottom__form__submit"
