.header
  .header__top
    グループを作成しました
  .flex
    .header__left
      test-user
      .header__left__icons
        = link_to '#' do
          = fa_icon 'edit'
        = link_to '#' do
          = fa_icon 'cog'
    .header__right
      .header__right__info
        .header__right__info__group-name
          test-group
        .header__right__info__group-members
          Member：
          test-user
      .header__right__btn-edit
        = link_to '#' do
          Edit
.flex
  .contents-left
    .contents-left__group-name
      test-group
    .contents-left__top-talk
      さようなら

    .contents-left__group-name
      sample-group
    .contents-left__top-talk
      hello!

    .contents-left__group-name
      example
    .contents-left__top-talk
      まだメッセージがありません

  .contents-right
    .contents-right__upper-info
      .contents-right__upper-info__user
        test-user
      .contents-right__upper-info__date
        2019/07/09(Tue) 13:42:26
    .contents-right__talk
      こんにちは！

    .contents-right__upper-info
      .contents-right__upper-info__user
        test-user
      .contents-right__upper-info__date
        2019/07/09(Tue) 13:42:26
    .contents-right__talk
      さようなら
    .contents-right__bottom
      %form{action: "#", method: "post", class: "contents-right__bottom__form"}
        %input{type: "text", class: "contents-right__bottom__form__textbox"}
        %input{type: "submit", value: "send", class: "contents-right__bottom__form__submit"}
